## **Name - Adarsh Raj**
## **Email - ada.raj96@gmail.com**

Q1 to Q25 for this assignment has already been solved in the assignment - "Assignment-1(Python)".
 
Link to that is attached here - https://github.com/Adarshcris7/fluffy-potato/blob/main/PythonAssignment-1%20--%20Adarsh%20Raj.md

**Q26. What is a string? How can we declare string in Python?**

Ans - A string is a python data container which is a collection of alphabets, words or other characters. Python strings are immutable which means they cannot be changed after they are created. String can be declared in multiple ways --

1) either by creating a variable and assigning characters to it inside double or single quotes

2) converting other data types (int, float etc.) to string using str() function

**Q27. How can we access the string using its index?**

Ans -- A string can be made up of a single letter or even multiple characters. To access a string using its index, we use [] method on the declared string. Ex - If a declared variable 'var_str' is a string then we use 'var_str[i]' to access characters in the strings. The value of 'i' ranges from 0 to one less than the length of the string.

In [ ]:
var_str = 'adarsh raj'
print(len(var_str))

for i in range(len(var_str)):
  print(var_str[i])

10
a
d
a
r
s
h

r
a
j

In [ ]:
# **Q28. Write a code to get the desired output of the following**
# ```
# string = "Big Data iNeuron"
# desired_output = "iNeuron"
# ``` 

string = "Big Data iNeuron"

desired_output = string[9:]
desired_output

'iNeuron'

In [ ]:
# Q29. Write a code to get the desired output of the following
# ```
# string = "Big Data iNeuron"
# desired_output = "norueNi"
# ```

string = "Big Data iNeuron"

desired_output = string[9:]
desired_output[::-1]

'norueNi'

In [ ]:
# Q30. Resverse the string given in the above question.

string = "Big Data iNeuron"
str = ""

for i in range(0, len(string), 1):
  str = string[i] + str

str

'norueNi ataD giB'

In [ ]:
# **Q31. How can you delete entire string at once?**

# Ans -- To delete an entire string, we use 'del' function of python.

string = 'Adarsh Raj'
print("Before deletion:", string)
del string
# print("After deletion: ", string)

#If you would uncomment the above code and run then it'll give an error as the 'string' varibale has already been deleted and so for Python it has not been defined

Before deletion: Adarsh Raj

**Q32. What is escape sequence?**

Ans -- Escape sequence in python is a sequence of characters which when used inside a string, will not represent itself in the string but will add different characteris to the string depending on the type of sequence used. For ex - If '\n' (backslash n) is used inside a string then it'll add a new line in the string. There are many other escape sequences in python which are of different uses.

In [ ]:
# Q33. How can you print the below string?
# ```
# 'iNeuron's Big Data Course'
# ```

# Ans -- To print the above statement, we would've to use double quotes to enclose the entire string as the string already has one single quote in use within the string. If use single quotes to enclose the string then it'll
# interfere with the single quote inside the string and mess up the output.

string = "iNeuron's Big Data Course"
string

"iNeuron's Big Data Course"

**Q34. What is a list in Python?**

Ans -- A list in Python is one of the data types which is used to store sequence of different data types. A list is mutable, meaning the contents of the list can be modified (deleted, replaced, added). The items within the list are separated using a comma(,).

**Q35. How can you create a list in Python?**

Ans -- To create a list, we can -- 

1) use list() function and later add items to it using append function

2) initiate a list by adding items inside square bracket

sample_list = [1, 2, 3, 'A', 'B', 2.5]

In [ ]:
# **Q36. How can we access the elements in a list?**

# Ans -- To access elements of the list, we use the index of list. Index of a list starts from 0 (first element) to the length of list minus one. Alternatively, we can use -1 for index as
# well to access list in reverse 

sample_list = [1, 2, 3, 'A', 'B', 2.5]

print(sample_list[0]) #access first element
print(sample_list[1]) #access second element
print(sample_list[-1]) #access last element

1
2
2.5

In [ ]:
# Q37. Write a code to access the word "iNeuron" from the given list.
# ```
# lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
# ``` 

lst = [1,2,3,"Hi",[45,54, "iNeuron"], "Big Data"]
lst[4][2] # to access 3rd element inside the 5th element of the list, notice that 4th element in the main list is a list as well

'iNeuron'

In [ ]:
# Q38. Take a list as an input from the user and find the length of the list.

n = input("provide your input for the list, separated by commas: ").split(',')
print("Length of the list as provided by you is", len(n))

provide your input for the list, separated by commas: a,b,c,d,3,2
Length of the list as provided by you is 6

In [ ]:
# Q39. Add the word "Big" in the 3rd index of the given list.
# ```
# lst = ["Welcome", "to", "Data", "course"]
# ```

lst = ["Welcome", "to", "Data", "course"]
lst.insert(2, "Big")
lst

['Welcome', 'to', 'Big', 'Data', 'course']

**Q40. What is a tuple? How is it different from list?**

Ans -- Tuple is another data type in python which is very simiar to list. It is also used to store a sequence different data types. The main difference between tuple and list is that, a tuple is immutable which means that once a tuple has been delcared, it's contents can't be modified.

**Q41. How can you create a tuple in Python?**

Ans -- To create a tuple in python, we can either -

1) initiate a variable and declare it as a tuple by using paranthesis (). Note that if we dont add any elements inside the tuple at the time of declaring then it'll create an empty tuple and as a tuple is immutable, it can't be modified later

2) converting a list or set to a tuple by using tuple() function

Example is shown below.

In [ ]:
tup1 = ("Python", "Mega", "1", "Assignment")
print(type(tup1))

lst = ["Welcome", "to", "Data", "course"]
tup2 = tuple(lst)
print(tup2)
print(tup2)

<class 'tuple'>
('Welcome', 'to', 'Data', 'course')
('Welcome', 'to', 'Data', 'course')

In [ ]:
# Q42. Create a tuple and try to add your name in the tuple. Are you able to do it? Support your answer with reason.

samp_tup = ('a', 'b', 'c', 'd') #empty tuple

samp_tup.insert(1, 'Adarsh')

#As it can be seen, using 'insert' method on a tuple gives an error because of the immmutable property of tuple, i.e., a tuple, once created, can not be modified. It can only be concatenated with another tuple.

AttributeError: ignored

In [ ]:
# Q43. Can two tuple be appended. If yes, write a code for it. If not, why?

# Ans -- Yes, two tuples can be appended or concatenated. Code is below -

x = (1, 2, 3)
y = (4, 5, 6)

z = x + y
print(z)
print(type(z))

#As seen in the output below, the output data type is a tuple.

(1, 2, 3, 4, 5, 6)
<class 'tuple'>

In [ ]:
# Q44. Take a tuple as an input and print the count of elements in it.

x = tuple(input("Provide entries for the tuple separated by comma: ").split(','))
print("length of the provided tuple is", len(x))

Provide entries for the tuple separated by comma: adarsh, raj, python, mega, assignment
length of the provided tuple is 5

**Q45. What are sets in Python?**

Ans -- Sets are another one of python data types which are used to store unordered items, which are iterable, mutable and has no dupicate elements.

**Q46. How can you create a set?**

Ans -- To create a set in python, we can either -

1) initiate a variable and declare it as a tuple by using curly brackets {} and then add elements within it

2) converting a list or tuple to a set by using set() function

Note that, in any of the methods above, if there are more than one instances of same element then set will only keep one instance of it because set only contains unique elements. Example is shown below.

In [ ]:
s = {'a', 'b', 2, 3, 2}
print(s)
print(type(s))

a = (1, 2, 3)
print(type(a))
b = set(a)
print(type(b))

{'b', 2, 3, 'a'}
<class 'set'>
<class 'tuple'>
<class 'set'>

In [ ]:
# Q47. Create a set and add "iNeuron" in your set.

s = {1, 2, 3, 4, 5}

s.add("iNeuron")
print(s)
print(type(s))

{1, 2, 3, 4, 5, 'iNeuron'}
<class 'set'>

In [ ]:
# Q48. Try to add multiple values using add() function.

s = {1, 2, 3, 4, 5}

s.add("iNeuron", "Adarsh")
print(s)
print(type(s))

# add() function takes only one argument which means only one element can be added into a set using add() function. For adding multiple elements we have to use update() function

TypeError: ignored

In [9]:
# Q49. How is update() different from add()?

# Ans -- Update is used when we have to insert multiple entries (a sequence) or to even add a list or a tuple to a set. As you can see above, add() fails when we have to add multiple items to set. 
# Note that when we have to add a word, we have to add it in the form of either a list, or even a set

s = {1, 2, 3, 4, 5}
s.update(["Adarsh"], ["Raj"], {"Python"}, {"Mega"})
s

{1, 2, 3, 4, 5, 'Adarsh', 'Mega', 'Python', 'Raj'}

In [11]:
# Q50. What is clear() in sets?

# Ans -- clear() method is used to remove all the elements from the set.

s = {1, 2, 3, 4, 5}
print("Number of elements before clearing: ", len(s))
s.clear()
print("Number of elements after clearing: ", len(s))

Number of elements before clearing:  5
Number of elements after clearing:  0

In [18]:
# Q51. What is frozen set?

# Ans -- Frozen set is just an immutable version of a python set. fronzenset() method is used on a set to invoke its immutable property.

s = {1, 2, 3, 4, 5}
s.add("iNeuron") #Before invoking immutable property
print(s)
print(type(s))

x = frozenset(s) #Invoking immutable property using fronzenset()
x.add("Adarsh")
print(x)

#As it can be seen, adding an element to frozen set 'x' resulted in an error, as no elements can be added to a frozen set due to its immutable property.

{1, 2, 3, 4, 5, 'iNeuron'}
<class 'set'>

AttributeError: ignored

**Q52. How is frozen set different from set?**

Ans -- Frozen sets aren't mutable i.e., no elements can be added, removed or replaced from it. An example is shown above

In [19]:
# Q53. What is union() in sets? Explain via code.

# Ans -- Python union() method is used to to return a new set which has all the elements which is occuring at least once in all of the concerning sets. This means that all the elemts from the original set
# will be present in the new set and there will be no repitition. Syntax for union -- "set1.union(set2, set3, set4, set5....)"

s1 = {1, 2, 3, 4, 5}
s2 = {2, 3, 4, 5, 6}

s3 = s1.union(s2)
s3

{1, 2, 3, 4, 5, 6}

In [24]:
# Q54. What is intersection() in sets? Explain via code.

# Ans -- Python intersection() method is used to return a new set which has only those elements occuring in all the original sets i.e., new set will have only those elements which are occuring in all of the original sets
# and not just once. Syntax -- "set1.intersection(set2, set3, set4, set5....)"

s1 = {1, 2, 3, 4, 5}
s2 = {2, 3, 4, 5, 6}
s3 = {2, 3, 4, 'a'}

s4 = s1.intersection(s2, s3)
s4

{2, 3, 4}

**Q55. What is dictionary in Python?**

Ans -- Python dictionaries is another data container which store elements in key:value pair format. They are ordered, mutable and contain no duplicate items.

**Q56. How is dictionary different from all other data structures.**

Ans -- The main difference between dictionary and other data structures is that the elements stored in dictionaries are in key:value pair format, unlike other data structures. For ex --

set = {1, 2, 3, 4}

list = [1, 2, 3, 4]

tuple = (1, 2, 3, 4)

dictionary = {1: 'A', 2: 'B', 3: 'C', 4: 'D'}

**Q57. How can we delare a dictionary in Python?**

Ans -- To declare a dictionary in python, we have express elements in key:value format inside curly brackets {}.

**Q58. What will the output of the following?**
```
var = {}
print(type(var))
```

Ans -- This is will output a dictionary. As there are no elements inside, it is an empty dictionary.

In [34]:
# Q59. How can we add an element in a dictionary?

# Ans -- To add elements in a dictionary, we can follow any of the methods below --

dict1 = {'key1': "Adarsh", "key2": "Raj"}

# Method 1 -- expressing key-value pair to be added in the following way -- dict_name[key] = value
dict1.update({"key3": "Python"})
print("Adding elemtns using method 1: ", dict1)

# Method 2 -- Using update() method
dict1.update({'key4': 'Mega'})
print("Adding elemtns using method 2: ", dict1)

#There are methods of adding key:value elements in a dictionary but the above 2 methods are the mostly used one.

Adding elemtns using method 1:  {'key1': 'Adarsh', 'key2': 'Raj', 'key3': 'Python'}
Adding elemtns using method 2:  {'key1': 'Adarsh', 'key2': 'Raj', 'key3': 'Python', 'key4': 'Mega'}

In [36]:
# Q60. Create a dictionary and access all the values in that dictionary.

# Ans -- To access all the values, we can use the method ".values()" on the dictonary. It will product a list of all the values present in the dictionary.

dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': "Python"}
dict1.values()

dict_values(['Adarsh', 'Raj', 'Python'])

In [47]:
# Q61. Create a nested dictionary and access all the element in the inner dictionary.

#nested dictionary
nested_dict = {'A': {'First Name': 'Adarsh', 'Last Name': 'Raj'}, 'B': {'A': 'Python', 'B':'Mega', 'C':'Assignment'}}
nested_dict

#to access all the elements in the inner dictionary
for key in nested_dict.keys():
  print(nested_dict[key])

{'First Name': 'Adarsh', 'Last Name': 'Raj'}
{'A': 'Python', 'B': 'Mega', 'C': 'Assignment'}

In [48]:
# Q62. What is the use of get() function?

# Ans - get() function is used to return the value of the specified key.
# Syntax -- dict1.get(key, value)  => key is required whereas value is an optional entry. if there is no match for the provided key in the main dictionary then the specified value is returned

dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': "Python"}
print(dict1.get('key2')) # will return the value of key2, which is "Raj"
print(dict1.get('key4', 'Mega')) # will return the values as "Mega", because there is no match for key4 is the main dict 'dict1'

Raj
Mega

In [50]:
# Q63. What is the use of items() function?

# Ans -- items() method is used to return the elements present in the dictionary as tuples in a list. As the output is a tuple, it is immutable.

dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': "Python"}
dict2 = dict1.items()
print(dict1)
print(dict2)

{'key1': 'Adarsh', 'key2': 'Raj', 'key3': 'Python'}
dict_items([('key1', 'Adarsh'), ('key2', 'Raj'), ('key3', 'Python')])

In [53]:
# Q64. What is the use of pop() function?

# Ans -- pop() method is used to remove an entry from a given data structure and then provide it as an output. The original data gets changed as the element is removed. It can be used on dictionaries, lists and 
# sets as well. It can't be used on tuples as they are immutable.

# Dictionaries
dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': "Python"}
print(dict1.pop('key1')) # takes key as an argument for dictionaries

# Lists
list1 = ['Adarsh', 'Raj', 'Python']
print(list1.pop(0)) # it takes positional index as an argument for list

# Sets
set1 = {1, 2, 3, 4, 'Adarsh'}
print(set1.pop()) #takes no argument as it'll remove any element at random

Adarsh
Adarsh
1

In [58]:
# Q65. What is the use of popitems() function?

# Ans -- popitem() method is used to remove the last entered key:value pair from the dictionary.

dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': "Python"}
dict1.popitem() # this method does not take any arguments

('key3', 'Python')

In [62]:
# Q66. What is the use of keys() function?

# Ans -- keys() method is used to return a list of all the keys from a dictionary. The output is a dicitonary view-object, which acts similar to a set

dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': "Python"}
dict1.keys()

dict_keys(['key1', 'key2', 'key3'])

In [63]:
# Q67. What is the use of values() function?

# Ans -- values() method is used to return a list of all the values from a dictionary. The output is a dicitonary view-object, which acts similar to a set

dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': "Python"}
dict1.values()

dict_values(['Adarsh', 'Raj', 'Python'])

**Q68. What are loops in Python?**

Ans -- In python, looping is used to repeat something over and over until a particular condition is satisfied.

**Q69. How many type of loop are there in Python?**

Ans -- There are 2 types of loop in python --

1) for loop

2) while loop

**Q70. What is the difference between for and while loops?**

Ans -- Both 'for' and 'while' loops are used for iterating a statement over and over until a certain condition is met. The major differnce between them is that, in 'for' loop the number of iterations is known from the start and that is used, whereas, in 'while' loop the number of iterations is not known, the execution is done until the statement in the while loop is proved wrong.

In [69]:
# Q71. What is the use of continue statement?

# Ans -- Continue is a loop control statement, it is used to skip the statements which are scheduled for execution. It forces the loop to continue or execute the next iteration. When the continue statement is 
# executed in the loop, the code inside the loop following the continue statement will be skipped and the next iteration of the loop will begin.

list1 = [0, 1, 2, 3, 4, 5, 6, 7]

for i in range(len(list1)):
  if i == 4:
    continue
  print(list1[i])

# As it can be seen, continue statement skipped the print function when i equalled 4 (no output for 5th element of the list)

0
1
2
3
5
6
7

In [70]:
# Q72. What is the use of break statement?

# Ans - Similar to continue, break is another loop control statement, it is used to terminate the loop when the certain condition is met.

list1 = [0, 1, 2, 3, 4, 5, 6, 7]

for i in range(len(list1)):
  if i == 4:
    break
  print(list1[i])

# As it can be seen, break statement forced the loop to close when i == 4 (no output after 4th element of the list)

0
1
2
3

In [72]:
# Q73. What is the use of pass statement?

# Ans -- Pass statement basically does nothing. It is used when a statement is required within the loop syntactically but you may not want to code to execute.

list1 = [0, 1, 2, 3, 4, 5, 6, 7]

for i in range(len(list1)):
  if i == 4:
    pass
    print('pass statement was executed here')
  print(list1[i])

# As it can be seen, pass statement did nothing when the condition was met

0
1
2
3
pass statement was executed here
4
5
6
7

In [82]:
# Q74. What is the use of range() function?

# Ans -- range() function is used to return a sequence of numbers. By default, the sequence will start with 0 and increment by 1. It needs at least one argument, which is used to specify where the sequence has to stop.

# one argument - where it ends
x = (range(4))
for i in x:
  print(i)

print("--------") # used just to indicate a segmentation

# start, end are specified
y = range(1,4)
for i in y:
  print(i)
  
print("--------") # used just to indicate a segmentation

# start, end and increment are specified
z = range(1,10,2)
for i in z:
  print(i)

0
1
2
3
--------
1
2
3
--------
1
3
5
7
9

**Q75. How can you loop over a dictionary?**

Ans -- There are various ways to loop over a dictionary --

> Access key using .keys()

> Iterate through all values using .values()

> Iterate through all key, and value pairs using items()

> Print items in Key-Value in pair

An example can be seen below.

In [85]:
#using .keys()
dict1 = {'key1': "Adarsh", "key2": "Raj", 'key3': 'Python'}

for key in dict1.keys():
  print(key,": ", dict1[key])

key1 :  Adarsh
key2 :  Raj
key3 :  Python